/* Aplicacion de Grids */
.gridContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 0,5fr 3fr 1fr;
}

.gridContainerHijos{
    text-align: center;
    padding: 10px;
}

/* Para carrera profesional */
.imagenFondoCP {
    background: url("../Multimedia/ImagenAguero3.jpg") ;
    background-size: cover;
}

body{
    background-color: rgb(43, 39, 39);
}

.textoCP{
    color: white;
    margin-top: 6rem;
    padding-bottom: 3rem;
}

.mainCP{
    margin: 13rem 5rem 0rem 5rem;
}

.tituloCP{
    font-size: 7rem;
    margin-left: 37rem;
}

.articleCP{
    width: 130rem;
    margin-left: 19rem;
}

.subtitulosCP{
    font-size: 4rem;
    color: rgb(46, 188, 207);
    margin-left: 9rem;
}
.subtitulosCP2{
    @extend .subtitulosCP;
    margin-left: 14rem;
}
.subtitulosCP3{
    @extend .subtitulosCP;
    color: rgb(220, 193, 193);
}
 
.parrafoCP{
    text-align: justify;
    margin: 3rem 5rem 0 5rem;
    font-size: 2.3rem;
}

.divCP{
    justify-content: space-between;
    background: radial-gradient(rgb(58, 47, 23), rgb(37, 30, 19));
    height: 42rem;
    margin-top: 10rem;
    padding-left: 4rem;
    border-style: groove;
}

.fotoAgueroTray{
    width: 42rem;
    height: 24rem;
    display: inline-block;
    margin-left: 5rem;
    margin-top: 10rem;
    transform: skew(2deg, 1.5deg);
}

.fotoAgueroCP{
    @extend .fotoAguero;
    margin-left: 5rem;
    width: 55rem;
    height: 27rem;
}

.fotoAgueroCPdebut{
    width: auto;
    margin-top: 3rem ;
}

.fotoAgueroCPdebutS{
    @extend .fotoAguero;
    width: auto;
    transform: none;
}

.DatosInteresCP{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.padreInteresCP{
    height: auto;
    width: auto;
    background: radial-gradient(rgb(58, 47, 23), rgb(37, 30, 19));
    border-style: groove;
}

.anios{
    font-weight: 900;
    color: rgb(220, 193, 193);
    font-size: 3.5rem;
    margin-left: 5rem;
}

.DatosI{
    margin-top: 5rem;
    text-align: center;
}

.mldi{
    margin-left: 0;
    font-weight: 900;
    font-size: 4rem;
}

.margenLinea{
    margin-top: 5rem;
}

.hoverCP:hover{
    scale: 1.05;
    transition: all 0.5s;
    font-size: 3rem;
}

.centradoCP{
    @extend .DatosInteresCP;
    align-content: center;
}