/* ADAPTACION A TABLET */
@media (max-width:768px) {
    .spanFooter{
        margin: 2.3rem 3rem 0 0;
        font-size: 1rem;
        width: 35rem;
    }

    /*INDEX*/
    .redes{
        scale: 0.8;
        margin-bottom: 1rem;
        margin-left: 0;
    }
    .fotoAguero{
        margin-top: 8rem;
        margin-left: 5rem;
        width: 30rem;
        height: 17rem;
    }
    .fotoAgueroI{
        margin-top: 4rem;
        margin-left: 6rem;
        width: 30rem;
        height: 17rem;
    }
    .textoParrafo{
        margin-right: 7rem;
    }
    .textoParrafo2{
        font-size: 150%;
        margin-top: 6rem;
        margin-right: 7rem;
    }

    .fotoAguero2{
        width: 30rem;
        height: 17rem;
        margin-top: 6rem;
        margin-left: 6rem;
    }
    .textoMenu{
        font-size: 140%;
        margin-left: 3rem;
    }
    .centradoMenu{
        margin-left: 0;
    }
    .menuPrincipal ul li{
        padding: 1rem;
    }
    .tituloPrincipal{
        font-size: 6rem;
    }

    /*CARRERA PROFESIONAL*/
    header{
        width: 768px;
    }
    .tituloCP{
        width: 300px;
        font-size: 4rem;
        margin-left: 15rem;
        height: 10rem;
        margin-top: 5rem;
    }
    .fotoAgueroCP{
        margin-left: 0rem;
        height: 20rem;
    }
    .fotoAguero{
        margin-left: 0rem;
        margin-top: 3rem;
    }
    .textoParrafo{
        font-size: 1.7rem;
        width: 30rem;
        margin-right: 7rem;
        margin-top: 5rem;
    }
    .articleCP{
        width: 698px;
        padding-left: 2rem;
        margin-left: 0;
        
    }
    .divCP{
        flex-direction: column;
        background: none;
        border-style: none;
        margin-top: 6rem;
        height: 580px;
    }
    .subtitulosCP{
        font-size: 3rem;
        margin-left: 16rem;
    }
    .fotoAgueroCPdebut{
        padding-left: 0rem;
    }
    .DatosI{
        margin-top: 3rem;
    }
    .parrafoCP{
        font-size: 1.7rem;
        margin: 4rem 3rem 0 3rem;
    }
    .subtitulosCP2{
        margin-left: 10rem;
    }
    .subtitulosCP3{
        margin-left: 0;
    }
    .anios{
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .footer{
        margin-top: 5rem;
    }
    .fotoAgueroTray{
        width: 31.5rem;
        height: 18rem;
        display: inline-block;
        margin-left: 0rem;
        margin-top: 4rem;
        transform: skew(2deg, 1.5deg);
    }
    .textoPCP{
        margin-right: 5.5rem;
    }


    /* MUSEO */
    .gridLayout{
        width: 708px;
        height: 1000px;
    }
    .caja{
        margin: 0;
        padding: 0.2rem;
    }
    .cajaHoriz{
        width: 19rem;
        height: 14.25rem;
    }
    .cajaVert{
        width: 14.25rem;
        height: 19rem;
    }
    .cajaVideo{
        width: 339.33px;
        height: 191px;
    }
    .cajaVideo2{
        width: 339.33px;
        height: 191px;
    }
    .pVideo{
        font-weight: 800;
        font-size: 2rem;
    }
    .pVideo2{
        font-weight: 800;
        font-size: 2rem;
    }


    /* NOVEDADES */
    .gridNov{
        grid-template-rows: 0.25fr 0.4fr 0.3fr 0.2fr;
        height: 500px;
        width: 705px;
    }
    
    .cajaTituloNov{
        font-size: 3.5rem;
    }
    .cajaPNov{
        width: 560px;
        font-size: 2.5rem;
    }
    .AgueroRedes{
        width: 216px;
        height: 133px;
    }
    .links{
        font-size: 2rem;
    }

    /* CONTACTO */
    .gridContacto{
        width: 668px;
        height: 750px;
        grid-template-rows: 0.15fr 0.2fr 1fr;
    } 
    .cajaPContacto{
        font-size: 2.7rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .cajaFormulario{
        font-size: 2.5rem;
    }
    .botones{
        font-size: 2rem;
        margin-top: 2rem;
    }

}
