/* Para museo */

/* .aguero1{
    height: 26rem;
}
.aguero2{
    height: 22,5rem;
    width: 47rem;
} */
/* .aguero3{
    grid-area: Aguero3;
}
.aguero4{
    grid-area: Aguero4;
}
.aguero5{
    grid-area: Aguero5;
}
.aguero6{
    grid-area: Aguero6;
}
.aguero7{
    grid-area: Aguero7;
}
.aguero8{
    grid-area: Aguero8;
}
.aguero9{
    grid-area: Aguero9;
} */

.gridLayout{
    display: grid;
    background-color: rgb(146, 146, 110);
    grid-template-columns: 22% 28% 28% 22%;
    grid-template-rows: 1fr 1fr 1fr 0.2fr 1fr;
    height: 1500px;
    width: 1380px;
    margin: 12rem 3rem 0 3rem;
    align-items: center;
}

.caja{
    padding: 2rem;
    background-color: rgb(144, 142, 83);
    border: 5px double black;
    margin-left: 1.5rem;
}
.cajaHoriz{
    width: 30rem;
    height: 22.5rem;
}
.cajaVert{
    height: 30rem;
    width: 22.5rem;
    margin-top: 1rem;
}
.pVideo{
    grid-column: 1/3;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(50, 22, 11);
    font-weight: 800;
    padding-top: 4rem;
}
.cajaVideo{
    justify-self: center;
    grid-column: 1/3;
}
.pVideo2{
    grid-column: 3/5;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(50, 22, 11);
    font-weight: 800;
    padding-top: 4rem;
}
.cajaVideo2{
    justify-self: center;
    grid-column: 3/5;
}